#include "assets_ffap.h"

IDR_BACKGROUND     		IMAGE "background.png"
IDR_FIREFLY        		IMAGE "firefly.png"
IDR_CIRCLE        		IMAGE "circle.png"
IDR_TARGET         		IMAGE "target.png"
IDR_EYEBOX         		IMAGE "eyebox.png"
IDR_EYE            		IMAGE "eye.png"
IDR_WARNING        		IMAGE "warning.png"
IDR_EYEBOX_INSTRUCTION_TOP							IMAGE "eyebox_instruction_top.png"
IDR_EYEBOX_INSTRUCTION_BOTTOM_FIREFLY		IMAGE "eyebox_instruction_bottom_firefly.png"
IDR_EYEBOX_INSTRUCTION_BOTTOM_STANDARD	IMAGE "eyebox_instruction_bottom_standard.png"
IDR_START          		IMAGE "start.png"
IDR_START_HOVER    		IMAGE "start_hover.png"
IDR_CLOSE          		IMAGE "close.png"
IDR_CLOSE_HOVER    		IMAGE "close_hover.png"
IDR_CALIBPLOT      		IMAGE "calibplot.png"
IDR_RESTART        		IMAGE "restart.png"
IDR_RESTART_HOVER  		IMAGE "restart_hover.png"
IDR_LAMP           		IMAGE "lamp.png"
IDR_OLIO_IDLE      		IMAGE "olio_idle.png"
IDR_OLIO_FADEIN    		IMAGE "olio_fadein.png"
IDR_OLIO_FADEOUT   		IMAGE "olio_fadeout.png"
IDR_HIDDEN_OLIO_1  		IMAGE "hidden_olios\\0001.png"
IDR_HIDDEN_OLIO_2  		IMAGE "hidden_olios\\0002.png"
IDR_HIDDEN_OLIO_3  		IMAGE "hidden_olios\\0003.png"
IDR_HIDDEN_OLIO_4  		IMAGE "hidden_olios\\0004.png"
IDR_HIDDEN_OLIO_5  		IMAGE "hidden_olios\\0005.png"
IDR_HIDDEN_OLIO_6  		IMAGE "hidden_olios\\0006.png"
IDR_HIDDEN_OLIO_7  		IMAGE "hidden_olios\\0007.png"
IDR_HIDDEN_OLIO_8  		IMAGE "hidden_olios\\0008.png"
IDR_HIDDEN_OLIO_9  		IMAGE "hidden_olios\\0009.png"
IDR_HIDDEN_OLIO_10 		IMAGE "hidden_olios\\0010.png"
IDR_HIDDEN_OLIO_11 		IMAGE "hidden_olios\\0011.png"
IDR_HIDDEN_OLIO_12 		IMAGE "hidden_olios\\0012.png"
IDR_HIDDEN_OLIO_13 		IMAGE "hidden_olios\\0013.png"
IDR_HIDDEN_OLIO_14 		IMAGE "hidden_olios\\0014.png"
IDR_HIDDEN_OLIO_15 		IMAGE "hidden_olios\\0015.png"
IDR_HIDDEN_OLIO_16 		IMAGE "hidden_olios\\0016.png"
IDR_HIDDEN_OLIO_17 		IMAGE "hidden_olios\\0017.png"
IDR_HIDDEN_OLIO_18 		IMAGE "hidden_olios\\0018.png"
IDR_HIDDEN_OLIO_19 		IMAGE "hidden_olios\\0019.png"
IDR_HIDDEN_OLIO_20 		IMAGE "hidden_olios\\0020.png"
IDR_GAME_POINTER   		IMAGE "game_pointer.png"
IDR_GAME_TIMER  			IMAGE "game_timer.png"
IDR_GAME_INSTRUCTION  IMAGE "game_instruction.png"
IDR_GAME_BEST      		IMAGE "game_best.png"
IDR_GAME_BACK      		IMAGE "game_back.png"

