#include "assets_pg.h"

IDR_DOORS		 	 												IMAGE "doors/doors.png"
IDR_DOORS_FRAME_0			 	 							IMAGE "doors/down/0.png"
IDR_DOORS_FRAME_1			 	 							IMAGE "doors/down/1.png"
IDR_DOORS_FRAME_2			 	 							IMAGE "doors/down/2.png"
IDR_DOORS_FRAME_3			 	 							IMAGE "doors/down/3.png"
IDR_DOORS_FRAME_4			 	 							IMAGE "doors/down/4.png"
IDR_DOORS_FRAME_5			 	 							IMAGE "doors/down/5.png"
IDR_DOORS_FRAME_6			 	 							IMAGE "doors/down/6.png"
IDR_DOORS_FRAME_7			 	 							IMAGE "doors/down/7.png"
IDR_DOORS_FRAME_8			 	 							IMAGE "doors/down/8.png"
IDR_DOORS_FRAME_9			 	 							IMAGE "doors/down/9.png"
IDR_DOORS_FRAME_10		 	 							IMAGE "doors/down/10.png"
IDR_DOORS_FRAME_11		 	 							IMAGE "doors/down/11.png"

IDR_CALIB_LEVEL1_ITEMS								IMAGE "level1/buttons.png"
IDR_CALIB_LEVEL1_ITEM_OFF							IMAGE "level1/button-off.png"
IDR_CALIB_LEVEL1_ITEM_RESULT					IMAGE "level1/result.png"

IDR_CALIB_LEVEL2_ITEMS								IMAGE "level2/buttons.png"
IDR_CALIB_LEVEL2_ITEM_OFF							IMAGE "level2/button-off.png"
IDR_CALIB_LEVEL2_ITEM_RESULT					IMAGE "level2/result.png"

IDR_AVATAR_BODY												IMAGE "avatar/body.png"
IDR_AVATAR_EYES												IMAGE "avatar/eyes.png"
IDR_AVATAR_HAIR												IMAGE "avatar/hair.png"
IDR_AVATAR_SHIRT											IMAGE "avatar/shirt.png"

IDR_PROFILER_BACKGROUND								IMAGE "profiler/background.png"
IDR_PROFILER_BUTTONS									IMAGE "profiler/buttons.png"
IDR_PROFILER_SELECTION								IMAGE "profiler/selection.png"
IDR_PROFILER_TITLE										IMAGE "profiler/title.png"

IDR_INSTRUCTIONS_SITTING							IMAGE "instructions/sitting.png"
IDR_INSTRUCTIONS_START								IMAGE "instructions/start.png"
IDR_INSTRUCTIONS_CALIBRATE						IMAGE "instructions/calibrate.png"
IDR_INSTRUCTIONS_LOGIN								IMAGE "instructions/login.png"
IDR_INSTRUCTIONS_REWARDS							IMAGE "instructions/rewards.png"
IDR_INSTRUCTIONS_REWARDS_BONUS				IMAGE "instructions/rewards-bonus.png"
IDR_INSTRUCTIONS_POSITION_ALERT       IMAGE "instructions/position-alert.png"

IDR_INSTRUCTIONS_LEVEL1_ITEM_RED			IMAGE "level1/instructions/red.png"
IDR_INSTRUCTIONS_LEVEL1_ITEM_GREEN 		IMAGE "level1/instructions/green.png"
IDR_INSTRUCTIONS_LEVEL1_ITEM_BLUE			IMAGE "level1/instructions/blue.png"
IDR_INSTRUCTIONS_LEVEL1_ITEM_YELLOW		IMAGE "level1/instructions/yellow.png"
IDR_INSTRUCTIONS_LEVEL1_RESULT				IMAGE "level1/instruction-result.png"

IDR_INSTRUCTIONS_LEVEL2_ITEM_CIRCLE		IMAGE "level2/instructions/circle.png"
IDR_INSTRUCTIONS_LEVEL2_ITEM_SQUARE  	IMAGE "level2/instructions/square.png"
IDR_INSTRUCTIONS_LEVEL2_ITEM_STAR			IMAGE "level2/instructions/star.png"
IDR_INSTRUCTIONS_LEVEL2_ITEM_TRIANGLE	IMAGE "level2/instructions/triangle.png"
IDR_INSTRUCTIONS_LEVEL2_RESULT				IMAGE "level2/instruction-result.png"

IDR_STORY_LEVEL1_BACKGROUND						IMAGE "level1/background.png"
IDR_STORY_LEVEL1_ALERT								IMAGE "level1/alert.png"

IDR_STORY_LEVEL2_BOX_CLOSED						IMAGE "level2/box-closed.png"
IDR_STORY_LEVEL2_BOX_OPENED						IMAGE "level2/box-opened.png"
IDR_STORY_LEVEL2_BUTTON_GREEN					IMAGE "level2/button-green.png"
IDR_STORY_LEVEL2_BUTTON_RED						IMAGE "level2/button-red.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_0			IMAGE "level2/ghosts-escape/1.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_1			IMAGE "level2/ghosts-escape/2.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_2			IMAGE "level2/ghosts-escape/3.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_3			IMAGE "level2/ghosts-escape/4.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_4			IMAGE "level2/ghosts-escape/5.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_5			IMAGE "level2/ghosts-escape/6.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_6			IMAGE "level2/ghosts-escape/7.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_7			IMAGE "level2/ghosts-escape/8.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_8			IMAGE "level2/ghosts-escape/9.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_9			IMAGE "level2/ghosts-escape/10.png"
IDR_STORY_LEVEL2_GHOSTS_ESCAPE_10			IMAGE "level2/ghosts-escape/11.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_0			IMAGE "level2/ghosts-trapped/1.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_1			IMAGE "level2/ghosts-trapped/2.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_2			IMAGE "level2/ghosts-trapped/3.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_3			IMAGE "level2/ghosts-trapped/4.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_4			IMAGE "level2/ghosts-trapped/5.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_5			IMAGE "level2/ghosts-trapped/6.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_6			IMAGE "level2/ghosts-trapped/7.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_7			IMAGE "level2/ghosts-trapped/8.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_8			IMAGE "level2/ghosts-trapped/9.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_9			IMAGE "level2/ghosts-trapped/10.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_10		IMAGE "level2/ghosts-trapped/11.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_11		IMAGE "level2/ghosts-trapped/12.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_12		IMAGE "level2/ghosts-trapped/13.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_13		IMAGE "level2/ghosts-trapped/14.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_14		IMAGE "level2/ghosts-trapped/15.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_15		IMAGE "level2/ghosts-trapped/16.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_16		IMAGE "level2/ghosts-trapped/17.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_17		IMAGE "level2/ghosts-trapped/18.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_18		IMAGE "level2/ghosts-trapped/19.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_19		IMAGE "level2/ghosts-trapped/20.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_20		IMAGE "level2/ghosts-trapped/21.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_21		IMAGE "level2/ghosts-trapped/22.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_22		IMAGE "level2/ghosts-trapped/23.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_23		IMAGE "level2/ghosts-trapped/24.png"
IDR_STORY_LEVEL2_GHOSTS_TRAPPED_24		IMAGE "level2/ghosts-trapped/25.png"

IDR_STATUS_BACKGROUND									IMAGE "status/background.png"
IDR_STATUS_PANEL											IMAGE "status/panel.png"
IDR_STATUS_PRIZES											IMAGE "status/prizes.png"
IDR_STATUS_BUTTON_CONTINUE        		IMAGE "status/button continue.png"
IDR_STATUS_BUTTON_PRIZES        			IMAGE "status/button prizes.png"

IDR_STATUS_TILE_PRIZE + IDR_PRIZE_BEAR_BROWN		 	IMAGE "status/prize-tile/bear brown.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_BEAR_PURPLE		 	IMAGE "status/prize-tile/bear purple.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_CAT_BROWN		 		IMAGE "status/prize-tile/cat brown.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_CAT_GREY		 		IMAGE "status/prize-tile/cat grey.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_LIGHTNING_RED		IMAGE "status/prize-tile/lightning red.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_LIGHTNING_TURQ	IMAGE "status/prize-tile/lightning turq.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_MASK_GREEN			IMAGE "status/prize-tile/mask green.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_MASK_PURPLE			IMAGE "status/prize-tile/mask purple.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_RABBIT					IMAGE "status/prize-tile/rabbit.png"
IDR_STATUS_TILE_PRIZE + IDR_PRIZE_SHERIFF					IMAGE "status/prize-tile/sheriff.png"

IDR_STATUS_TILE_PRIZE_REST												IMAGE "status/prize-tile/rest.png"
IDR_STATUS_PRIZE_SELECTED													IMAGE "status/selected.png"

IDR_PRIZE_ICON + IDR_PRIZE_BEAR_BROWN		 		IMAGE "prizes/icons/bear brown.png"
IDR_PRIZE_ICON + IDR_PRIZE_BEAR_PURPLE		 	IMAGE "prizes/icons/bear purple.png"
IDR_PRIZE_ICON + IDR_PRIZE_CAT_BROWN		 		IMAGE "prizes/icons/cat brown.png"
IDR_PRIZE_ICON + IDR_PRIZE_CAT_GREY		 			IMAGE "prizes/icons/cat grey.png"
IDR_PRIZE_ICON + IDR_PRIZE_LIGHTNING_RED		IMAGE "prizes/icons/lightning red.png"
IDR_PRIZE_ICON + IDR_PRIZE_LIGHTNING_TURQ		IMAGE "prizes/icons/lightning turq.png"
IDR_PRIZE_ICON + IDR_PRIZE_MASK_GREEN				IMAGE "prizes/icons/mask green.png"
IDR_PRIZE_ICON + IDR_PRIZE_MASK_PURPLE			IMAGE "prizes/icons/mask purple.png"
IDR_PRIZE_ICON + IDR_PRIZE_RABBIT						IMAGE "prizes/icons/rabbit.png"
IDR_PRIZE_ICON + IDR_PRIZE_SHERIFF					IMAGE "prizes/icons/sheriff.png"

IDR_PRIZE_CENTER + IDR_PRIZE_BEAR_BROWN		 		IMAGE "prizes/center/bear brown.png"
IDR_PRIZE_CENTER + IDR_PRIZE_BEAR_PURPLE		 	IMAGE "prizes/center/bear purple.png"
IDR_PRIZE_CENTER + IDR_PRIZE_CAT_BROWN		 		IMAGE "prizes/center/cat brown.png"
IDR_PRIZE_CENTER + IDR_PRIZE_CAT_GREY		 			IMAGE "prizes/center/cat grey.png"
IDR_PRIZE_CENTER + IDR_PRIZE_LIGHTNING_RED		IMAGE "prizes/center/lightning red.png"
IDR_PRIZE_CENTER + IDR_PRIZE_LIGHTNING_TURQ		IMAGE "prizes/center/lightning turq.png"
IDR_PRIZE_CENTER + IDR_PRIZE_MASK_GREEN				IMAGE "prizes/center/mask green.png"
IDR_PRIZE_CENTER + IDR_PRIZE_MASK_PURPLE			IMAGE "prizes/center/mask purple.png"
IDR_PRIZE_CENTER + IDR_PRIZE_RABBIT						IMAGE "prizes/center/rabbit.png"
IDR_PRIZE_CENTER + IDR_PRIZE_SHERIFF					IMAGE "prizes/center/sheriff.png"

