#include "assets.h"

IDR_BACKGROUND    IMAGE "background.png"
IDR_FIREFLY       IMAGE "firefly.png"
IDR_TARGET        IMAGE "target.png"
IDR_EYEBOX        IMAGE "eyebox.png"
IDR_EYE           IMAGE "eye.png"
IDR_WARNING       IMAGE "warning.png"
IDR_START         IMAGE "start.png"
IDR_START_HOVER   IMAGE "start_hover.png"
IDR_CLOSE         IMAGE "close.png"
IDR_CLOSE_HOVER   IMAGE "close_hover.png"
IDR_CALIBPLOT     IMAGE "calibplot.png"
IDR_RESTART       IMAGE "restart.png"
IDR_RESTART_HOVER IMAGE "restart_hover.png"
IDR_LAMP          IMAGE "lamp.png"
IDR_OLIO_IDLE     IMAGE "olio_idle.png"
IDR_OLIO_FADEIN   IMAGE "olio_fadein.png"
IDR_OLIO_FADEOUT  IMAGE "olio_fadeout.png"

