#include "assets.h"

IDR_BACKGROUND    IMAGE "background.png"
IDR_FIREFLY       IMAGE "firefly.png"
IDR_TARGET        IMAGE "target.png"
IDR_EYEBOX        IMAGE "eyebox.png"
IDR_EYE           IMAGE "eye.png"
IDR_WARNING       IMAGE "warning.png"
IDR_START         IMAGE "start.png"
IDR_START_HOVER   IMAGE "start_hover.png"
IDR_CLOSE         IMAGE "close.png"
IDR_CLOSE_HOVER   IMAGE "close_hover.png"
IDR_CALIBPLOT     IMAGE "calibplot.png"
IDR_RESTART       IMAGE "restart.png"
IDR_RESTART_HOVER IMAGE "restart_hover.png"
IDR_LAMP          IMAGE "lamp.png"
IDR_OLIO_IDLE     IMAGE "olio_idle.png"
IDR_OLIO_FADEIN   IMAGE "olio_fadein.png"
IDR_OLIO_FADEOUT  IMAGE "olio_fadeout.png"
IDR_GAME_OLIO_0   IMAGE "game_olio_0.png"
IDR_GAME_OLIO_1   IMAGE "game_olio_1.png"
IDR_GAME_OLIO_2   IMAGE "game_olio_2.png"
IDR_GAME_OLIO_3   IMAGE "game_olio_3.png"
IDR_GAME_OLIO_4   IMAGE "game_olio_4.png"
IDR_GAME_OLIO_5   IMAGE "game_olio_5.png"
IDR_GAME_OLIO_6   IMAGE "game_olio_6.png"
IDR_GAME_OLIO_7   IMAGE "game_olio_7.png"
IDR_GAME_OLIO_8   IMAGE "game_olio_8.png"
IDR_GAME_OLIO_9   IMAGE "game_olio_9.png"
IDR_GAME_OLIO_10  IMAGE "game_olio_10.png"
IDR_GAME_OLIO_11  IMAGE "game_olio_11.png"
IDR_GAME_OLIO_12  IMAGE "game_olio_12.png"
IDR_GAME_OLIO_13  IMAGE "game_olio_13.png"
IDR_GAME_OLIO_14  IMAGE "game_olio_14.png"
IDR_GAME_OLIO_15  IMAGE "game_olio_15.png"
IDR_GAME_OLIO_16  IMAGE "game_olio_16.png"
IDR_GAME_OLIO_17  IMAGE "game_olio_17.png"
IDR_GAME_OLIO_18  IMAGE "game_olio_18.png"
IDR_GAME_OLIO_19  IMAGE "game_olio_19.png"

